.docCards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.patImSel{
    display: flex;
}
.countSelect{
    background-color: white;
    height: 40px;
    min-width: 160px    ;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
}
.patCard{
    height: 400px;
    width: 45%;
    display: flex;
    flex-direction: column;
    background-color: #00CCB1;
    border: none;
    border-radius: 7px;
    padding: 20px;
    overflow: hidden;
}
.patLogo{
    height: 240px;
}
.patTitl{
    color: #DEEEC5;
}
.patText{
    color: white;
    font-size: 30px;
}
.docCard{
    height: 400px;
    width: 45%;
    background-color:#3D83DF;
    border: none;
    border-radius: 7px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.docLogo{
    height: 240px;
    position: absolute;
    left: 230px;
    bottom: 0px;
}
.docTitl{
    color: #DEEEC5;
}
.docText{
   color: white;
   font-size: 30px;
}