  .textOne{
    color:#00BFA5;
    font-weight:500;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 0px;
  }
  .textTwo{
    color:#747474;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 0px;
  }  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    border-radius : 8px;
    margin: 0px 10px 10px 0px;
    cursor: pointer;
  }
  .card:hover {
    box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
  }
  .Cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contList {
    padding: 2px 30px;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .ctrName{
      color:#747474;
      font-weight: 500;
  }
  .ctrImg{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }